@use "./theme.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: inherit;
}

#app {
  width: 100%;
  height: 100%;
}
